.noFavAdded{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favItems{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}