@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap');

.header{
    display: flex;
    align-items: center;
    /* background: hsl(0, 0%, 93%); */
    width: 100%;
    height: 60px;
    justify-content: space-between;
    box-shadow: 0px 4px 5px 1px rgba(0,0,0,0.31);
    z-index: 1000;

  }

  .logoDiv{
    margin-left: 20px;
    z-index: 1000;
  }

  .logo{
    font-weight: bold;
    font-size: 20px;
  }

  .navBarList{
    width: 40%;
    margin-left: 100px;
    z-index: 1000;
  }

  .navUl{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    width: 550px;
    margin-right: 50px;
    z-index: 1000;
  }

  .NavItem{
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .NavItem:hover{
    text-decoration: underline;
  }
  
  .logoutbtn{
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .logoutbtn:hover{
    border: 1px solid black;
    color: black;
    background-color: transparent;
    cursor: pointer;
  }

  .sideIcon{
    margin-right: 30px;
    z-index: 1000;
  }

  @media only screen and (max-width: 758px){
    .navUl{
      display: none;
    }
  }

  @media only screen and (min-width: 758px){
    .sideIcon{
      display: none;
    }
  }

.addToFavourite{
  display: flex;
  align-items: center;
  justify-content: center;
}