.mainContainer{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    padding-top: 20px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.innerContainer{
    width: 100%;
    height: 95px;
}

.newsSection{
    margin-top: 10px;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.weather{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-weight: bold;
    margin-top: 10px;
}


.postedNews{
    width: 70%;
    height: auto;
    flex-direction: column;
}

.suggestedNews{
    width: 27%;
    height: auto;
    flex-direction: column;
}

.header{
    height: 50px;
    flex-wrap: wrap;
    padding-left: 10px;
    font-weight: lighter;
}

.news{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.card{
    width: 410px;
    height: 200px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    cursor: pointer;
    flex-wrap: wrap;
}


.leftinnerCard{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-weight: lighter;
}

.rightinnerCard{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideCard{
    /* border: 1px solid black; */
    width: 95%;
    height: 410px;
}

.dailySun{
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 1303px) {
    .suggestedNews{
        display: none;
    }

    .postedNews{
        width: 100%;
    }

    .card{
        width: 550px;
    }

    .news{
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}

@media only screen and (max-width: 768px){
    .innerContainer{
        height: 150px;
    }

    .weather{
        flex-direction: column;
    }
}

@media only screen and (max-width: 532px){
    .header{
        height:80px ;
    }
}

@media only screen and (max-width: 614px){
    .leftinnerCard{
        flex-wrap: wrap;
        height: 180px;
    }
    .rightinnerCard{
        flex-wrap: wrap;
        height: 200px;
    }

    .card{
        width: auto;
        height: 200px;
        flex-direction: column;
    }
}

@media only screen and (max-width:382px){
    .dailySun{
        font-size: 30px;
    }
}


/* Styling for news id */
.NewsTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: bold;
    font-size: 17px;
}

@media only screen and (max-width:682px){
    .NewsTitle{
        font-size:12px ;
    }
}

@media only screen and (max-width:496px){
    .NewsTitle{
        font-size:9px ;
    }
}
 .headerContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 .icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    width: 120px;
    margin-top: 10px;
}

.IconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.NewsContainer{
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.videoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 80%;
}

.DescriptionContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    margin-top: 30px;
}

.Description{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-transform: capitalize;
    margin-top: 10px;
    font-weight: light;
    margin-bottom: 20px;
    flex-wrap: wrap;
}