.title{
    border: 1px solid black;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    text-transform: uppercase;
    font-weight: 500;   
}

.TotalVacations{
    font-weight: bold;
}

.Cards{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Description{
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    -ms-text-overflow: ellipsis;
}